/20240501_175209__fold0_Unet_48_batch1_optimranger_ranger_lr0.0001-wd0.0_epochs200_deepsupFalse_fp16_warm0__normgroup_dropout0.0_warm_restartFalse
/20240503_185109__fold0_Unet_48_batch1_optimranger_ranger_lr0.0001-wd0.0_epochs200_deepsupFalse_fp16_warm0__normgroup_dropout0.0_warm_restartFalse
/Dataset